.container
  .row
    .table-responsive.content
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Item Name
            %th Price (All in GHS)
            %th Quantity
            %th Total
            %th Date Purchased
            %th Shop
            %th
        %tbody
          - obj.each do |item|
            %tr
              %td= h(item.name)
              %td= item.price
              %td= item.quantity
              %td= item.total
              %td= item.purchased_at.strftime("%b %d, %Y")
              %td= h(item.shop_name)
              %td
      %strong= "Grand Total: #{grand_total(obj)}"

