.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th #
        %th Item Name
        %th Price (All in GHS)
        %th Date
        %th Shop
        %th
    %tbody
      - @items.each do |item|
        %tr
          %td= item.id
          %td= item.name
          %td= item.price
          %td= item.created_at.strftime("%b %d, %Y")
          %td= item.shop_name
          %td

