!!!
%html{ style: "height: 100%" }
  %head
    %title Expense
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ style: "padding-top: 0" }
    = render 'shared/new_header'
    .container
      .row
        = render 'shared/messages'
    = yield
  = javascript_include_tag "application", "data-turbolinks-track" => true
